# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
*.coverage
*.egg-info/
*.egg
AGENTS.md

# Virtualenv
venv/
env/
bot_trigger_poe/  # если у тебя так называется локальное env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docs
docs/

# Logs
*.log
*.txt

# Database
*.db

# Env files
.env